# Unity generated
Library/
Temp/
Logs/
obj/
Build/
Builds/
UserSettings/

# VS Code
.vscode/

# macOS
.DS_Store

# JetBrains Rider
.idea/

# Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.booproj